/* Animation */

@-webkit-keyframes play-record{
  0% { 
    -webkit-transform: rotate(0deg);
  }
  100% { 
    -webkit-transform: rotate(360deg);
  }
}

/* General */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

body{
  margin:0;
  background:#272822;
  padding:1em .5em 5em;
  font-family: 'Lato', sans-serif;
}
.wrapper{
  margin:0 auto;
  width:1200px;
}
.main-header{
  color:#D10000;
  font-weight:100;
  font-size:4.5em;
  text-align:center;
  margin:1em 0;
}

/* Album */
.album-con{
  float:left;
  width:25%;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
  position:relative;
  padding:.5em;
  box-sizing:border-box;
}
.album-con:hover .album{
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.album{
  float:left;
  width:100%;
  height: 100%;
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  z-index:2;
}
.album-face,.album-back{
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  width:100%;
}
.album-face{
  z-index: 3;
}
.album-back {
  display: block;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  box-sizing: border-box;
  text-align: center;
  position:absolute;
  top:0;
  left:0;
  color:#fff;
}
.album-back .album-img{
  opacity:0.1;
  position:absolute;
  top:0;
  left:0;
}
.album-img{
  width:100%;
  display:block;
}
.album-song{
  font-size:1.2em;
  font-weight:100;
}
.album-band{
  font-size:1em;
  font-weight:100;
}

/* Record */

.player{
  display:none;
  position:fixed;
  z-index:-1;
  transition:all 1s ease-in;
  background-color:rgba(0,0,0,.7);
}
.player.active{
  display:block;
  z-index:300;
  top:0;
  right:0;
  left:0;
  bottom:0;
}

.vinyl {
    display:block;
    width:500px;
    height:500px;
    border-radius:50%;
    background: #2f2f2e;
    border:1px solid #595959;
    position:relative;
    top:5em;
    z-index:1;
    margin:0 auto;
}
.vinyl:before {
    position:absolute;
    display:block;
    content:"";
    width:100%;
    height:100%;
    border-radius:100%;
    background: -webkit-radial-gradient(center, ellipse cover, #2f2f2e 0%, #404340 1%, #2f2f2e 2%, #404340 3%, #2f2f2e 4%, #404340 5%, #2f2f2e 6%, #404340 7%, #2f2f2e 8%, #404340 9%, #2f2f2e 10%, #404340 11%, #2f2f2e 12%, #404340 13%, #2f2f2e 14%, #404340 15%, #2f2f2e 16%, #404340 17%, #2f2f2e 18%, #404340 19%, #2f2f2e 20%, #404340 21%, #2f2f2e 22%, #404340 23%, #2f2f2e 24%, #404340 25%, #2f2f2e 26%, #404340 27%, #2f2f2e 28%, #404340 29%, #2f2f2e 30%, #404340 31%, #2f2f2e 32%, #404340 33%, #2f2f2e 34%, #404340 35%, #2f2f2e 36%, #404340 37%, #2f2f2e 38%, #404340 39%, #2f2f2e 40%, #404340 41%, #2f2f2e 42%, #404340 43%, #2f2f2e 44%, #404340 45%, #2f2f2e 46%, #404340 47%, #2f2f2e 48%, #404340 49%, #2f2f2e 50%, #404340 51%, #2f2f2e 52%, #404340 53%, #2f2f2e 54%, #404340 55%, #2f2f2e 56%, #404340 57%, #2f2f2e 58%, #404340 59%, #2f2f2e 60%, #404340 61%, #2f2f2e 62%, #404340 63%, #2f2f2e 64%, #404340 65%, #2f2f2e 66%, #404340 67%, #2f2f2e 68%, #404340 69%, #2f2f2e 70%, #404340 71%, #2f2f2e 72%, #404340 73%, #2f2f2e 74%, #404340 75%, #2f2f2e 76%, #404340 77%, #2f2f2e 78%, #404340 79%, #2f2f2e 80%, #404340 81%, #2f2f2e 82%, #404340 83%, #2f2f2e 84%, #404340 85%, #2f2f2e 86%, #404340 87%, #2f2f2e 88%, #404340 89%, #2f2f2e 90%, #404340 91%, #2f2f2e 92%, #404340 93%, #2f2f2e 94%, #404340 95%, #2f2f2e 96%, #404340 97%, #404340 97%, #2f2f2e 98%);
    background: -moz-radial-gradient(center, ellipse cover, #2f2f2e 0%, #404340 1%, #2f2f2e 2%, #404340 3%, #2f2f2e 4%, #404340 5%, #2f2f2e 6%, #404340 7%, #2f2f2e 8%, #404340 9%, #2f2f2e 10%, #404340 11%, #2f2f2e 12%, #404340 13%, #2f2f2e 14%, #404340 15%, #2f2f2e 16%, #404340 17%, #2f2f2e 18%, #404340 19%, #2f2f2e 20%, #404340 21%, #2f2f2e 22%, #404340 23%, #2f2f2e 24%, #404340 25%, #2f2f2e 26%, #404340 27%, #2f2f2e 28%, #404340 29%, #2f2f2e 30%, #404340 31%, #2f2f2e 32%, #404340 33%, #2f2f2e 34%, #404340 35%, #2f2f2e 36%, #404340 37%, #2f2f2e 38%, #404340 39%, #2f2f2e 40%, #404340 41%, #2f2f2e 42%, #404340 43%, #2f2f2e 44%, #404340 45%, #2f2f2e 46%, #404340 47%, #2f2f2e 48%, #404340 49%, #2f2f2e 50%, #404340 51%, #2f2f2e 52%, #404340 53%, #2f2f2e 54%, #404340 55%, #2f2f2e 56%, #404340 57%, #2f2f2e 58%, #404340 59%, #2f2f2e 60%, #404340 61%, #2f2f2e 62%, #404340 63%, #2f2f2e 64%, #404340 65%, #2f2f2e 66%, #404340 67%, #2f2f2e 68%, #404340 69%, #2f2f2e 70%, #404340 71%, #2f2f2e 72%, #404340 73%, #2f2f2e 74%, #404340 75%, #2f2f2e 76%, #404340 77%, #2f2f2e 78%, #404340 79%, #2f2f2e 80%, #404340 81%, #2f2f2e 82%, #404340 83%, #2f2f2e 84%, #404340 85%, #2f2f2e 86%, #404340 87%, #2f2f2e 88%, #404340 89%, #2f2f2e 90%, #404340 91%, #2f2f2e 92%, #404340 93%, #2f2f2e 94%, #404340 95%, #2f2f2e 96%, #404340 97%, #404340 97%, #2f2f2e 98%);
    background: radial-gradient(center, ellipse cover, #2f2f2e 0%, #404340 1%, #2f2f2e 2%, #404340 3%, #2f2f2e 4%, #404340 5%, #2f2f2e 6%, #404340 7%, #2f2f2e 8%, #404340 9%, #2f2f2e 10%, #404340 11%, #2f2f2e 12%, #404340 13%, #2f2f2e 14%, #404340 15%, #2f2f2e 16%, #404340 17%, #2f2f2e 18%, #404340 19%, #2f2f2e 20%, #404340 21%, #2f2f2e 22%, #404340 23%, #2f2f2e 24%, #404340 25%, #2f2f2e 26%, #404340 27%, #2f2f2e 28%, #404340 29%, #2f2f2e 30%, #404340 31%, #2f2f2e 32%, #404340 33%, #2f2f2e 34%, #404340 35%, #2f2f2e 36%, #404340 37%, #2f2f2e 38%, #404340 39%, #2f2f2e 40%, #404340 41%, #2f2f2e 42%, #404340 43%, #2f2f2e 44%, #404340 45%, #2f2f2e 46%, #404340 47%, #2f2f2e 48%, #404340 49%, #2f2f2e 50%, #404340 51%, #2f2f2e 52%, #404340 53%, #2f2f2e 54%, #404340 55%, #2f2f2e 56%, #404340 57%, #2f2f2e 58%, #404340 59%, #2f2f2e 60%, #404340 61%, #2f2f2e 62%, #404340 63%, #2f2f2e 64%, #404340 65%, #2f2f2e 66%, #404340 67%, #2f2f2e 68%, #404340 69%, #2f2f2e 70%, #404340 71%, #2f2f2e 72%, #404340 73%, #2f2f2e 74%, #404340 75%, #2f2f2e 76%, #404340 77%, #2f2f2e 78%, #404340 79%, #2f2f2e 80%, #404340 81%, #2f2f2e 82%, #404340 83%, #2f2f2e 84%, #404340 85%, #2f2f2e 86%, #404340 87%, #2f2f2e 88%, #404340 89%, #2f2f2e 90%, #404340 91%, #2f2f2e 92%, #404340 93%, #2f2f2e 94%, #404340 95%, #2f2f2e 96%, #404340 97%, #404340 97%, #2f2f2e 98%);
    top:0;
    left:0;
}
.vinyl .label{
    border:10px solid #2f2f2e;
    
    width:200px;
    display:block;
    height:200px;
    border-radius:50%;
    position:absolute;
    top:50%;
    left:50%;
    margin:-109px 0 0 -109px;
    font-size:42px;
    background: url(../images/teen-dream.jpg) no-repeat center;
    background-size:cover;
    /*text-shadow: rgb(186, 186, 186) 1px 1px, rgb(186, 186, 186) 2px 2px, rgb(186, 186, 186) 3px 3px, rgb(186, 186, 186) 4px 4px, rgb(186, 186, 186) 5px 5px, rgb(186, 186, 186) 6px 6px, rgb(186, 186, 186) 7px 7px, rgb(186, 186, 186) 8px 8px, rgb(186, 186, 186) 9px 9px, rgb(186, 186, 186) 10px 10px, rgb(186, 186, 186) 11px 11px, rgb(186, 186, 186) 12px 12px, rgb(186, 186, 186) 13px 13px, rgb(186, 186, 186) 14px 14px;*/
}
/*.vinyl .pin{
  content:"\2022";
  color:#fff;
}*/
.play .vinyl {
  -webkit-animation: play-record 3s infinite linear;
  -webkit-animation-fill-mode: forwards;
}

.play-bt {
    height: 50px;
    width: 50px;    
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 100%;
    position: relative;
    margin:0 auto;
    display:block;
    margin-top:2.9em;
}

.play-bt:hover {
    background-color: #D10000;
}

.play-bt:after {
    content: "";
    display: block;
    position: absolute;
    top: 15.5px;
    left: 20px;
    margin: 0 auto;
    border-style: solid;
    border-width: 9.5px 0 9.5px 17px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 1);
}
.player-controls{
  width:100%;
  position:absolute;
  top:0;
}